/*Start Global Style*/
*{
    margin: 0 0;
    box-sizing: border-box;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    letter-spacing: 0.63px;
}
/* h1, h2, h3, h4, h5, h6{
    color: #0D1E3A;
} */
.heading_area h3 span{
    color: #6e31f9;
}
.heading_area h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: bold;
}
.weight-600{font-weight: 600;}
.large_theme_btn {
    padding: 10px 100px;
    border-radius: 0;
}
.btn_theme{
    background: #6E31F9;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #fff;
}
.btn_theme:hover{
    background: #5321c7;
    color: #fff;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    margin-bottom: 20px;
}
.icon_area img {
    width: 100px;
}
.icon_area p {
    min-height: 55px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.count {
    display: inline-flex;
    margin: 0 auto;
    width: 43px;
    height: 43px;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: 100%;
    color: #fff;
    font-size: 18px;
}
.count_main .count {
    width: 73px;
    height: 73px;
    position: relative;
    z-index: 1;
    border: 15px solid;
}
.count_main:after {
    content: "";
    background: #000;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    height: 4px;
    top: 48%;
    left: 0;
    right: 0;
}
.projects_build ul li img {
    width: 70px;
}
/*media query*/
@media only screen and (min-width: 391px) {
    .d-xs-block {
        display: block !important;
    }
    .d-xs-none{
        display: none !important;
    }
}
@media only screen and (min-width: 768px) {
    .w-md-65 {
        width: 65%;
    }
}
@media only screen and (max-width: 767px) {
    .icon_area {
        margin-bottom: 30px;
    }
    .heading_area h3 {
        font-size: 30px;
        line-height: 35px;
    }
}
@media only screen and (max-width: 576px) {
    .heading_area h3 {
        font-size: 28px;
        line-height: 30px;
        clear: both;
    }
}
@media only screen and (max-width: 390px) {
    .heading_area h3 {
        line-height: 42px;
    }
    .own_boss .col {
        margin-bottom: 30px;
    }
}